<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: 0.8" />
    <span class="brand-text font-weight-light">{{'ClinicalMS'|translate}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">

        <!-- <a href="#" class="d-block cut-text">{{ user!.FirstName }}</a> -->
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              {{'StarterPages'|translate}}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/Admin/Test">
                <i class="far fa-circle nav-icon"></i>
                <p>Active Page</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/Shift">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'Main'|translate}} </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/Patient">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'Patient'|translate}} </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/Doctors">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'Doctor'|translate}} </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/ProvidedServices">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'ProvidedServices'|translate}} </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/Calander">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'Calander'|translate}} </p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/Admin/Setting">
                <i class="far fa-circle nav-icon"></i>
                <p> {{'Setting'|translate}} </p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/Admin/Appointments">
                <i class="far fa-circle nav-icon"></i>
                <p>Appointments</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/Admin/Card">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a  class="nav-link" routerLink="/">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page 2</p>
              </a>
            </li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" (click)="logOut()">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p></p>
            <p>{{'LogOut'|translate}}</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
